/* line 1, /Users/maxdefroe/stack/Studie/Project Interactive Multimedia/Project/code/ProjectInteractiveMultimedia/scss/style.scss */
html {
  height: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

/* line 8, /Users/maxdefroe/stack/Studie/Project Interactive Multimedia/Project/code/ProjectInteractiveMultimedia/scss/style.scss */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(#515D97, #404750);
}

/* line 39, /Users/maxdefroe/stack/Studie/Project Interactive Multimedia/Project/code/ProjectInteractiveMultimedia/scss/style.scss */
#mt-big {
  margin-top: 40px;
}

/* line 42, /Users/maxdefroe/stack/Studie/Project Interactive Multimedia/Project/code/ProjectInteractiveMultimedia/scss/style.scss */
#mt-medium {
  margin-top: 30px;
}

/* line 45, /Users/maxdefroe/stack/Studie/Project Interactive Multimedia/Project/code/ProjectInteractiveMultimedia/scss/style.scss */
#mt-small {
  margin-top: 20px;
}

/* line 48, /Users/maxdefroe/stack/Studie/Project Interactive Multimedia/Project/code/ProjectInteractiveMultimedia/scss/style.scss */
#mt-xs {
  margin-top: 10px;
}

/* line 52, /Users/maxdefroe/stack/Studie/Project Interactive Multimedia/Project/code/ProjectInteractiveMultimedia/scss/style.scss */
#header {
  margin-top: 40px;
  text-align: center;
}

/* line 55, /Users/maxdefroe/stack/Studie/Project Interactive Multimedia/Project/code/ProjectInteractiveMultimedia/scss/style.scss */
#header #logo {
  width: 70%;
}

@media (min-width: 768px) {
  /* line 55, /Users/maxdefroe/stack/Studie/Project Interactive Multimedia/Project/code/ProjectInteractiveMultimedia/scss/style.scss */
  #header #logo {
    width: 600px;
  }
}

/* line 61, /Users/maxdefroe/stack/Studie/Project Interactive Multimedia/Project/code/ProjectInteractiveMultimedia/scss/style.scss */
#header #subtext {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  margin-top: 5px;
}

/* line 70, /Users/maxdefroe/stack/Studie/Project Interactive Multimedia/Project/code/ProjectInteractiveMultimedia/scss/style.scss */
h3 {
  padding-top: 10px;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

/* line 79, /Users/maxdefroe/stack/Studie/Project Interactive Multimedia/Project/code/ProjectInteractiveMultimedia/scss/style.scss */
#flags {
  text-align: center;
}

/* line 81, /Users/maxdefroe/stack/Studie/Project Interactive Multimedia/Project/code/ProjectInteractiveMultimedia/scss/style.scss */
#flags img {
  width: 100px;
  margin: 20px;
  border-radius: 20px;
}

/* line 98, /Users/maxdefroe/stack/Studie/Project Interactive Multimedia/Project/code/ProjectInteractiveMultimedia/scss/style.scss */
#inputfields {
  text-align: center;
}

/* line 100, /Users/maxdefroe/stack/Studie/Project Interactive Multimedia/Project/code/ProjectInteractiveMultimedia/scss/style.scss */
#inputfields input, #inputfields select {
  font-family: 'Montserrat', sans-serif;
  text-align-last: center;
  width: 70%;
  text-align: center;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #343A55;
  border: none;
  font-size: 16px;
  color: #485170;
  margin-bottom: 15px;
  padding: 19px 0;
  font-weight: 500;
}

/* line 115, /Users/maxdefroe/stack/Studie/Project Interactive Multimedia/Project/code/ProjectInteractiveMultimedia/scss/style.scss */
#inputfields input::placeholder, #inputfields select::placeholder {
  color: #485170;
}

/* line 118, /Users/maxdefroe/stack/Studie/Project Interactive Multimedia/Project/code/ProjectInteractiveMultimedia/scss/style.scss */
#inputfields input:focus, #inputfields select:focus {
  outline: none;
}

/* line 124, /Users/maxdefroe/stack/Studie/Project Interactive Multimedia/Project/code/ProjectInteractiveMultimedia/scss/style.scss */
#inputfields button {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  color: #485170;
  border: none;
  width: 70%;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  font-size: 19px;
  font-weight: 500;
  border-radius: 80px;
}

/* line 136, /Users/maxdefroe/stack/Studie/Project Interactive Multimedia/Project/code/ProjectInteractiveMultimedia/scss/style.scss */
#inputfields button:focus {
  outline: none;
}

/* line 139, /Users/maxdefroe/stack/Studie/Project Interactive Multimedia/Project/code/ProjectInteractiveMultimedia/scss/style.scss */
#inputfields button:hover {
  background-color: #343A55;
  color: #fff;
}

/* line 145, /Users/maxdefroe/stack/Studie/Project Interactive Multimedia/Project/code/ProjectInteractiveMultimedia/scss/style.scss */
#questionform img {
  margin-right: 3%;
  margin-bottom: 2%;
  width: 7%;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

/* line 153, /Users/maxdefroe/stack/Studie/Project Interactive Multimedia/Project/code/ProjectInteractiveMultimedia/scss/style.scss */
#questionform {
  text-align: center;
}

/* line 157, /Users/maxdefroe/stack/Studie/Project Interactive Multimedia/Project/code/ProjectInteractiveMultimedia/scss/style.scss */
#nextquestion {
  margin-top: 50px !important;
  font-weight: 500 !important;
  font-size: 15px;
  width: 70%;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: auto;
  display: block;
  border-radius: 15px;
}

@media (min-width: 768px) {
  /* line 157, /Users/maxdefroe/stack/Studie/Project Interactive Multimedia/Project/code/ProjectInteractiveMultimedia/scss/style.scss */
  #nextquestion {
    width: 600px;
  }
}

/*# sourceMappingURL=../css/style.map */