/* line 1, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
html {
  height: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

/* line 8, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #35416B;
}

/* line 39, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#mt-big {
  margin-top: 40px;
}

/* line 42, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#mt-medium {
  margin-top: 30px;
}

/* line 45, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#mt-small {
  margin-top: 20px;
}

/* line 48, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#mt-xs {
  margin-top: 10px;
}

/* line 52, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#header {
  margin-top: 40px;
  text-align: center;
}

/* line 55, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#header #logo {
  width: 70%;
}

@media (min-width: 768px) {
  /* line 55, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
  #header #logo {
    width: 600px;
  }
}

/* line 61, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#header #subtext {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  margin-top: 5px;
}

/* line 70, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
h3 {
  padding-top: 10px;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

/* line 79, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#flags {
  text-align: center;
}

/* line 81, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#flags img {
  width: 100px;
  margin: 20px;
  border-radius: 20px;
}

/* line 88, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
.wrapper-65 {
  width: 65px;
}

/* line 92, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
.answerWrapper {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 50px !important;
}

/* line 97, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
.answerWrapper:hover {
  background-color: #2b3558;
}

/* line 102, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
.mc-circle {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #fff;
  border-radius: 100%;
  width: 55px;
  display: table-cell;
  vertical-align: middle;
  height: 55px;
  text-align: center;
}

/* line 113, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
.mc-circle:hover {
  background-color: #2b3558 !important;
  color: #fff !important;
}

/* line 119, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#inputfields {
  text-align: center;
}

/* line 121, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#inputfields input, #inputfields select {
  font-family: 'Montserrat', sans-serif;
  text-align-last: center;
  width: 70%;
  text-align: center;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #2b3558;
  border: none;
  font-size: 16px;
  color: white;
  margin-bottom: 15px;
  padding: 19px 0;
  font-weight: 500;
}

/* line 136, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#inputfields input::placeholder, #inputfields select::placeholder {
  color: #485170;
}

/* line 139, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#inputfields input:focus, #inputfields select:focus {
  outline: none;
}

/* line 145, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#inputfields button {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  color: #485170;
  border: none;
  width: 70%;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  font-size: 19px;
  font-weight: 500;
  border-radius: 80px;
}

/* line 157, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#inputfields button:focus {
  outline: none;
}

/* line 160, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#inputfields button:hover {
  background-color: #2b3558;
  color: #fff;
}

/* line 166, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#questionform img {
  margin-right: 3%;
  margin-bottom: 2%;
  width: 7%;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

/* line 174, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#questionform {
  text-align: center;
  width: 90%;
}

/* line 179, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#info, #nextquestion, #backtoQ {
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  font-weight: 500;
  margin-top: 50px !important;
  font-weight: 500 !important;
  width: 70%;
  text-align: center;
  padding: 20px;
  margin: auto;
  display: block;
  border-radius: 80px;
  border: none;
}

@media (min-width: 768px) {
  /* line 179, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
  #info, #nextquestion, #backtoQ {
    width: 600px;
  }
}

/* line 195, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#info:focus, #nextquestion:focus, #backtoQ:focus {
  outline: none;
}

/* line 198, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#info:hover, #nextquestion:hover, #backtoQ:hover {
  background-color: #2b3558;
  color: #fff;
}

/* line 204, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#result {
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  font-weight: 500;
  text-align: center;
  margin-top: 2%;
  color: white;
}

/* line 213, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#infoblock {
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  font-weight: 500;
  text-align: center;
}

/* line 220, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
.answerOption {
  color: #fff;
  font-weight: 500;
}

/* line 225, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
.final-announcement {
  margin-top: 50px;
  color: #fff;
  font-weight: 500;
}

/* line 226, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
.final-announcement a {
  color: #fff;
}

/* line 232, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
.final-announcement button {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  color: #485170;
  border: none;
  width: 70%;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  font-size: 19px;
  font-weight: 500;
  border-radius: 80px;
}

/* line 244, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
.final-announcement button:focus {
  outline: none;
}

/* line 247, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
.final-announcement button:hover {
  background-color: #2b3558;
  color: #fff;
}

/* line 254, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
* {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* line 268, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#progress-bar {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  background-color: #F6DFB7;
  border-radius: 100px;
  height: 20px;
  width: 80%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* line 280, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#passed-questions {
  background-color: #E7788B;
  border-radius: 100px;
  height: 20px;
  width: 0%;
}

/* line 286, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#currentQuestion {
  text-align: center;
  color: #F6DFB7;
}

/* line 290, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#totalQuestions {
  margin: auto;
  padding-left: 40%;
  width: 10%;
  margin-top: -19px;
  color: #E7788B;
}

/* line 298, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#route {
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  font-weight: 500;
  font-weight: 500 !important;
  width: 70%;
  text-align: center;
  padding: 10px;
  margin: auto;
  display: block;
  border-radius: 80px;
  border: none;
}

@media (min-width: 768px) {
  /* line 298, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
  #route {
    width: 600px;
  }
}

/* line 313, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#route:focus {
  outline: none;
}

/* line 316, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#route:hover {
  background-color: #2b3558;
  color: #fff;
}

/* line 322, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: white;
  margin-top: 2%;
}

/* line 331, C:/Users/ramon/Desktop/Project Interactive Multimedia/scss/style.scss */
#loopinstructies {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: white;
  position: center;
}

/*# sourceMappingURL=../css/style.map */