html {
	height: 100%;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none
	
}
body {
	font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-color: #35416B;
	overflow-x: hidden;
    max-width: 100%;
}

//Vaak gebruikte kleuren
$dark-blue: #2b3558;
$light-blue: #485170;

// Responsive breakpoints
// Gebruik: @include bp(W...) {
//   hier de stijl die alleen geldt voor die screen size
// }
@mixin bp($point) {
	@if $point == W1250 {
		@media (max-width: 1250px) { @content; }
	}
	@else if $point == W1100 {
		@media (max-width: 1100px) { @content; }
	}
	@else if $point == W768 {
		@media (min-width: 768px) { @content; }
	}
	@else if $point == M768 {
		@media (min-width: 768px) { @content; }
	}
}

#mt-big {
	margin-top: 40px;
}
#mt-medium {
	margin-top: 30px;
}
#mt-small {
	margin-top: 20px;
}
#mt-xs {
	margin-top: 10px;
}

#header {
	margin-top: 40px;
	text-align: center;
	#logo {
		width: 70%;
		@include bp(M768) {
			width: 450px;
		}
	}
	#subtext {
		color: white;
		text-align:center;
		font-weight: 400;
		font-size: 14px;
		margin-top: 5px;
	}
}

h3 {
	padding-top: 10px; 
	color: white;
	text-align:center;
	font-size:18px;
	font-weight: 500;

}

#flags {
	text-align: center;
	img {
		width:100px;
		margin: 20px;
		border-radius:20px;
	}
} 

.wrapper-65 {
	width: 65px;
}

.answerWrapper {
	padding: 15px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border-radius: 50px !important;
	&:hover {
		background-color: $dark-blue;
	}
}

.mc-circle {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	background-color: #fff;
    border-radius: 100%;
    width: 55px;
    display: table-cell;
    vertical-align: middle;
    height: 55px;
	text-align: center;
	&:hover {
		background-color: $dark-blue !important;
		color: #fff !important;
	}
}

#inputfields, #scorebord {
	text-align:center;
	input, select {
		font-family: 'Montserrat', sans-serif;
		text-align-last: center;
		width: 70%;
		text-align: center;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		background-color: $dark-blue;
		border: none;
		font-size: 16px;
		color: white;
		margin-bottom: 15px;
		padding: 19px 0;
		font-weight: 500;
		&::placeholder {
			color: $light-blue;
		}
		&:focus {
			outline: none;
		}
	}
}

#inputfields button{
	font-family: 'Montserrat', sans-serif;
	background-color: #fff;
	color: $light-blue;
	border: none;
	width:70%;
	text-align:center;
    padding: 20px;
    margin-top: 20px;
    font-size: 19px;
    font-weight: 500;
	border-radius: 80px;
	&:focus {
		outline: none;
	}
	&:hover {
		background-color: $dark-blue;
		color: #fff;
	}
}

#questionform img {
	margin-right:3%;
	margin-bottom:2%;
	width:7%;
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
}

#questionform {
	text-align:center;
	width: 90%;
}

#question {
	padding: 0 20px;
}

#info-button, #nextquestion, #backtoQ, #worker, #addQ {
	font-family: 'Montserrat', sans-serif;
	font-size: 19px;
    font-weight: 500;
	margin-top: 50px !important;
    font-weight: 500 !important;
	width:70%;
	text-align:center;
	padding: 20px;
	margin:auto;
	display:block;
	border-radius: 80px;
	border: none;
	@include bp(M768) {
		width: 600px;
	}
	&:focus {
		outline: none;
	}
	&:hover {
		background-color: $dark-blue;
		color: #fff;
	}
}

#result{
	font-family: 'Montserrat', sans-serif;
	font-size: 19px;
	font-weight: 500;
	text-align:center;
	margin-top: 2%;
	color: white;
}

#infoblock {
	font-family: 'Montserrat', sans-serif;
	font-size: 19px;
	font-weight: 500;
	text-align:center;
}

.answerOption{
    color: #fff;
    margin-left: 0px;
    font-weight: 500;
}

.final-announcement {
	a {
		color: #fff;
	}
	margin-top: 50px;
	color: #fff;
	font-weight: 500;
	button{
		font-family: 'Montserrat', sans-serif;
		background-color: #fff;
		color: $light-blue;
		border: none;
		width:70%;
		text-align:center;
		padding: 20px;
		margin-top: 20px;
		font-size: 19px;
		font-weight: 500;
		border-radius: 80px;
		&:focus {
			outline: none;
		}
		&:hover {
			background-color: $dark-blue;
			color: #fff;
		}
	}
}
 button {
	background-color: #fff;
 }
* {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.bottomStatusBar {
	width: 100%;
	height: 30px;
	background-color: #2d375a;
    padding: 1px 0 20px 0;
	margin-top: 20px;
    bottom: 0;
}
#progress-bar {
	font-family: 'Montserrat', sans-serif;
	margin: auto;
	background-color: #F6DFB7;
	border-radius: 100px;
	height: 20px;
	width: 80%;
	 -webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
#passed-questions {
	background-color: #E7788B;
	border-radius: 100px;
	height: 20px;
	width: 0%;
}
#currentQuestion {
	text-align: center;
	color: #F6DFB7;
}
#totalQuestions {
	margin: auto;
	padding-left: 40%;
	width: 10%;
	margin-top: -19px;
	color: #E7788B;
}
#routeWrapper {
	-webkit-transition: all 0s ease;
	-moz-transition: all 0s ease;
	-o-transition: all 0s ease;
	transition: all 0s ease;
	position: absolute;
    height: 100vh;
    width: 100%;
	top: -18px;
	background-color: $dark-blue;
}
#routebeschrijving { 
	text-align: center;
	color: #fff;
	padding: 20px;
	margin-top: 20px;
}
#route {
	font-family: 'Montserrat', sans-serif;
	font-size: 19px;
    font-weight: 500;
    font-weight: 500 !important;
	width:70%;
	text-align:center;
	padding: 10px;
	margin:auto;
	display:block;
	border-radius: 80px;
	border: none;
	@include bp(M768) {
		width: 600px;
	}
	&:focus {
		outline: none;
	}
	&:hover {
		background-color: $dark-blue;
		color: #fff;
	}
}
#close-route {
	margin: auto;
	background-color: #fff;
	color: $light-blue;
	border: 5px solid #3b4773;
	width:60%;
	text-align:center;
	padding: 10px;
	margin-top: 20px;
	font-size: 19px;
	font-weight: 500;
	border-radius: 80px;
	&:focus {
		outline: none;
	}
	&:hover {
		background-color: $dark-blue;
		color: #fff;
	}
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
    font-weight: 500;
	text-align: center;
	color: white;
	margin-top: 2%;
}

#loopinstructies {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
    font-weight: 500;
	text-align: center;
	color: white;
	position: center;
}

#inputfields_workers {
	text-align:center;
	input, select {
		font-family: 'Montserrat', sans-serif;
		text-align-last: center;
		width: 70%;
		text-align: center;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		background-color: $dark-blue;
		border: none;
		font-size: 16px;
		color: white;
		margin-bottom: 15px;
		padding: 19px 0;
		font-weight: 500;
		&::placeholder {
			color: $light-blue;
		}
		&:focus {
			outline: none;
		}
	}
}